<!DOCTYPE html>
<html>
<head>
    <title>Monuments Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center text-primary">Monuments List</h1>
        <ul class="list-group">
            <% for(let key in data) { %>
                <li class="list-group-item">
                    <a href="/monument/<%= key %>"><%= data[key].name.trim() %></a>
                </li>
            <% } %>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>